%header
  .container
    .row
      .col-lg-4
        %img.img-responsive{:alt => "", :src => "img/profile-5.png"}/
      .col-lg-8
        .intro-text
          %span.name Sarah Hanikel
          %hr.star-light/
          %span.skills Soprano. Instructor. Therapist
          %hr
          %p Die Sopranistin Sarah Hanikel wurde in Hamburg geboren. Seit September 2008 ist sie Stipendiatin der staatlich-bischöflichen Studienförderung Cusanuswerk e.V. und studiert seit 2007 bei Prof. Julie Kaufmann an der Universität der Künste Berlin.
%section#portfolio
  .container
    .row
      .col-lg-12.text-center
        %h2 Portfolio
        %hr.star-primary/
    .row
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal1"}
        .caption
          .caption-content
            %i.fa.fa-search-plus.fa-3x
        %img.img-responsive{:alt => "", :src => "img/portfolio/cabin.png"}/
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal2"}
        .caption
          .caption-content
            %i.fa.fa-search-plus.fa-3x
        %img.img-responsive{:alt => "", :src => "img/portfolio/cake.png"}/
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal3"}
        .caption
          .caption-content
            %i.fa.fa-search-plus.fa-3x
        %img.img-responsive{:alt => "", :src => "img/portfolio/circus.png"}/
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal4"}
        .caption
          .caption-content
            %i.fa.fa-search-plus.fa-3x
        %img.img-responsive{:alt => "", :src => "img/portfolio/game.png"}/
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal5"}
        .caption
          .caption-content
            %i.fa.fa-search-plus.fa-3x
        %img.img-responsive{:alt => "", :src => "img/portfolio/safe.png"}/
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal6"}
        .caption
          .caption-content
            %i.fa.fa-search-plus.fa-3x
        %img.img-responsive{:alt => "", :src => "img/portfolio/submarine.png"}/
%section#about.success
  .container
    .row
      .col-lg-12.text-center
        %h2 About
        %hr.star-light/
    .row
      .col-lg-4.col-lg-offset-2
        %p Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.
      .col-lg-4
        %p Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!
      .col-lg-8.col-lg-offset-2.text-center
        %a.btn.btn-lg.btn-outline{:href => "#"}
          %i.fa.fa-download
          Download Theme
%section#contact
  .container
    .row
      .col-lg-12.text-center
        %h2 Contact Me
        %hr.star-primary/
    .row
      .col-lg-8.col-lg-offset-2
        %form{:role => "form"}
          .row
            .form-group.col-xs-12.floating-label-form-group
              %label{:for => "name"} Name
              %input.form-control{:name => "name", :placeholder => "Name", :type => "text"}/
          .row
            .form-group.col-xs-12.floating-label-form-group
              %label{:for => "email"} Email Address
              %input.form-control{:name => "email", :placeholder => "Email Address", :type => "email"}/
          .row
            .form-group.col-xs-12.floating-label-form-group
              %label{:for => "message"} Message
              %textarea.form-control{:placeholder => "Message", :rows => "5"}
          %br/
          .row
            .form-group.col-xs-12
              %button.btn.btn-lg.btn-success{:type => "submit"} Send
%footer.text-center
  .footer-above
    .container
      .row
        .footer-col.col-md-4
          %h3 Location
          %p
            3481 Melrose Place
            = succeed "Beverly" do
              %br/
            Hills, CA 90210
        .footer-col.col-md-4
          %h3 Around the Web
          %ul.list-inline
            %li
              %a.btn-social.btn-outline{:href => "#"}
                %i.fa.fa-fw.fa-facebook
            %li
              %a.btn-social.btn-outline{:href => "#"}
                %i.fa.fa-fw.fa-google-plus
            %li
              %a.btn-social.btn-outline{:href => "#"}
                %i.fa.fa-fw.fa-twitter
            %li
              %a.btn-social.btn-outline{:href => "#"}
                %i.fa.fa-fw.fa-linkedin
            %li
              %a.btn-social.btn-outline{:href => "#"}
                %i.fa.fa-fw.fa-dribbble
        .footer-col.col-md-4
          %h3 About Freelance
          %p
            Freelance is a free to use, open source Bootstrap theme created by
            = succeed "." do
              %a{:href => "http://startbootstrap.com"} Start Bootstrap
  .footer-below
    .container
      .row
        .col-lg-12
          Copyright &copy; 2014 - Your Name
.scroll-top.page-scroll.visible-xs.visble-sm
  %a.btn.btn-primary{:href => "#page-top"}
    %i.fa.fa-chevron-up
/ Portfolio Modals
#portfolioModal1.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h2 Project Title
            %hr.star-primary/
            %img.img-responsive.img-centered{:alt => "", :src => "img/portfolio/cabin.png"}/
            %p
              Use this area of the page to describe your project. The icon above is part of a free icon set by
              = succeed "." do
                %a{:href => "https://sellfy.com/p/8Q9P/jV3VZ/"} Flat Icons
              On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
            %ul.list-inline.item-details
              %li
                Client:
                %strong
                  %a{:href => "http://startbootstrap.com"} Start Bootstrap
              %li
                Date:
                %strong
                  %a{:href => "http://startbootstrap.com"} April 2014
              %li
                Service:
                %strong
                  %a{:href => "http://startbootstrap.com"} Web Development
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Close
#portfolioModal2.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h2 Project Title
            %hr.star-primary/
            %img.img-responsive.img-centered{:alt => "", :src => "img/portfolio/cake.png"}/
            %p
              Use this area of the page to describe your project. The icon above is part of a free icon set by
              = succeed "." do
                %a{:href => "https://sellfy.com/p/8Q9P/jV3VZ/"} Flat Icons
              On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
            %ul.list-inline.item-details
              %li
                Client:
                %strong
                  %a{:href => "http://startbootstrap.com"} Start Bootstrap
              %li
                Date:
                %strong
                  %a{:href => "http://startbootstrap.com"} April 2014
              %li
                Service:
                %strong
                  %a{:href => "http://startbootstrap.com"} Web Development
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Close
#portfolioModal3.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h2 Project Title
            %hr.star-primary/
            %img.img-responsive.img-centered{:alt => "", :src => "img/portfolio/circus.png"}/
            %p
              Use this area of the page to describe your project. The icon above is part of a free icon set by
              = succeed "." do
                %a{:href => "https://sellfy.com/p/8Q9P/jV3VZ/"} Flat Icons
              On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
            %ul.list-inline.item-details
              %li
                Client:
                %strong
                  %a{:href => "http://startbootstrap.com"} Start Bootstrap
              %li
                Date:
                %strong
                  %a{:href => "http://startbootstrap.com"} April 2014
              %li
                Service:
                %strong
                  %a{:href => "http://startbootstrap.com"} Web Development
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Close
#portfolioModal4.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h2 Project Title
            %hr.star-primary/
            %img.img-responsive.img-centered{:alt => "", :src => "img/portfolio/game.png"}/
            %p
              Use this area of the page to describe your project. The icon above is part of a free icon set by
              = succeed "." do
                %a{:href => "https://sellfy.com/p/8Q9P/jV3VZ/"} Flat Icons
              On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
            %ul.list-inline.item-details
              %li
                Client:
                %strong
                  %a{:href => "http://startbootstrap.com"} Start Bootstrap
              %li
                Date:
                %strong
                  %a{:href => "http://startbootstrap.com"} April 2014
              %li
                Service:
                %strong
                  %a{:href => "http://startbootstrap.com"} Web Development
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Close
#portfolioModal5.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h2 Project Title
            %hr.star-primary/
            %img.img-responsive.img-centered{:alt => "", :src => "img/portfolio/safe.png"}/
            %p
              Use this area of the page to describe your project. The icon above is part of a free icon set by
              = succeed "." do
                %a{:href => "https://sellfy.com/p/8Q9P/jV3VZ/"} Flat Icons
              On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
            %ul.list-inline.item-details
              %li
                Client:
                %strong
                  %a{:href => "http://startbootstrap.com"} Start Bootstrap
              %li
                Date:
                %strong
                  %a{:href => "http://startbootstrap.com"} April 2014
              %li
                Service:
                %strong
                  %a{:href => "http://startbootstrap.com"} Web Development
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Close
#portfolioModal6.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h2 Project Title
            %hr.star-primary/
            %img.img-responsive.img-centered{:alt => "", :src => "img/portfolio/submarine.png"}/
            %p
              Use this area of the page to describe your project. The icon above is part of a free icon set by
              = succeed "." do
                %a{:href => "https://sellfy.com/p/8Q9P/jV3VZ/"} Flat Icons
              On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
            %ul.list-inline.item-details
              %li
                Client:
                %strong
                  %a{:href => "http://startbootstrap.com"} Start Bootstrap
              %li
                Date:
                %strong
                  %a{:href => "http://startbootstrap.com"} April 2014
              %li
                Service:
                %strong
                  %a{:href => "http://startbootstrap.com"} Web Development
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Close
