%header
  .container
    .row
      .col-lg-4
        %img.img-responsive.img-rounded{:alt => "", :src => "img/profile-5.png"}/
      .col-lg-8
        .intro-text
          %span.name Sarah Hanikel
          %hr.star-light/
          %span.skills Sopran - Instructor 
          %hr
          %p
            %i.fa.fa-quote-left
            Die Sopranistin Sarah Hanikel wurde in Hamburg geboren. Seit September 2008 ist sie Stipendiatin der staatlich-bischöflichen Studienförderung Cusanuswerk e.V. und studiert seit 2007 bei Prof. Julie Kaufmann an der Universität der Künste Berlin...
            %i.fa.fa-quote-right
            %br
            %span.page-scroll
              %a{href: "#about"}
                read more...
%section#portfolio
  = partial "portfolio"
%section#about.success
  = partial "about"
%section#contact
  = partial "contact"
%footer.text-center
  = partial "footer"

.scroll-top.page-scroll.visible-xs.visble-sm
  %a.btn.btn-primary{:href => "#page-top"}
    %i.fa.fa-chevron-up

= partial "portfolio_models"
