%header
  .container
    .row
      .col-lg-4
        %img.img-responsive{:alt => "", :src => "img/profile-5.png"}/
      .col-lg-8
        .intro-text
          %span.name Sarah Hanikel
          %hr.star-light/
          %span.skills Soprano. Instructor. Therapist
          %hr
          %p
            Die Sopranistin Sarah Hanikel wurde in Hamburg geboren. Seit September 2008 ist sie Stipendiatin der staatlich-bischöflichen Studienförderung Cusanuswerk e.V. und studiert seit 2007 bei Prof. Julie Kaufmann an der Universität der Künste Berlin.
            %span.page-scroll
              %a{href: "#about"}
                read more...
%section#portfolio
  = partial "portfolio"
%section#about.success
  = partial "about"
%section#contact
  = partial "contact"
%footer.text-center
  = partial "footer"
.scroll-top.page-scroll.visible-xs.visble-sm
  %a.btn.btn-primary{:href => "#page-top"}
    %i.fa.fa-chevron-up
/ Portfolio Modals
#portfolioModal1.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h2 Project Title
            %hr.star-primary/
            %img.img-responsive.img-centered{:alt => "", :src => "img/portfolio/cabin.png"}/
            %p
              Use this area of the page to describe your project. The icon above is part of a free icon set by
              = succeed "." do
                %a{:href => "https://sellfy.com/p/8Q9P/jV3VZ/"} Flat Icons
              On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
            %ul.list-inline.item-details
              %li
                Client:
                %strong
                  %a{:href => "http://startbootstrap.com"} Start Bootstrap
              %li
                Date:
                %strong
                  %a{:href => "http://startbootstrap.com"} April 2014
              %li
                Service:
                %strong
                  %a{:href => "http://startbootstrap.com"} Web Development
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Close
#portfolioModal2.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h2 Project Title
            %hr.star-primary/
            %img.img-responsive.img-centered{:alt => "", :src => "img/portfolio/cake.png"}/
            %p
              Use this area of the page to describe your project. The icon above is part of a free icon set by
              = succeed "." do
                %a{:href => "https://sellfy.com/p/8Q9P/jV3VZ/"} Flat Icons
              On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
            %ul.list-inline.item-details
              %li
                Client:
                %strong
                  %a{:href => "http://startbootstrap.com"} Start Bootstrap
              %li
                Date:
                %strong
                  %a{:href => "http://startbootstrap.com"} April 2014
              %li
                Service:
                %strong
                  %a{:href => "http://startbootstrap.com"} Web Development
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Close
#portfolioModal3.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h2 Project Title
            %hr.star-primary/
            %img.img-responsive.img-centered{:alt => "", :src => "img/portfolio/circus.png"}/
            %p
              Use this area of the page to describe your project. The icon above is part of a free icon set by
              = succeed "." do
                %a{:href => "https://sellfy.com/p/8Q9P/jV3VZ/"} Flat Icons
              On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
            %ul.list-inline.item-details
              %li
                Client:
                %strong
                  %a{:href => "http://startbootstrap.com"} Start Bootstrap
              %li
                Date:
                %strong
                  %a{:href => "http://startbootstrap.com"} April 2014
              %li
                Service:
                %strong
                  %a{:href => "http://startbootstrap.com"} Web Development
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Close
#portfolioModal4.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h2 Project Title
            %hr.star-primary/
            %img.img-responsive.img-centered{:alt => "", :src => "img/portfolio/game.png"}/
            %p
              Use this area of the page to describe your project. The icon above is part of a free icon set by
              = succeed "." do
                %a{:href => "https://sellfy.com/p/8Q9P/jV3VZ/"} Flat Icons
              On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
            %ul.list-inline.item-details
              %li
                Client:
                %strong
                  %a{:href => "http://startbootstrap.com"} Start Bootstrap
              %li
                Date:
                %strong
                  %a{:href => "http://startbootstrap.com"} April 2014
              %li
                Service:
                %strong
                  %a{:href => "http://startbootstrap.com"} Web Development
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Close
#portfolioModal5.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h2 Project Title
            %hr.star-primary/
            %img.img-responsive.img-centered{:alt => "", :src => "img/portfolio/safe.png"}/
            %p
              Use this area of the page to describe your project. The icon above is part of a free icon set by
              = succeed "." do
                %a{:href => "https://sellfy.com/p/8Q9P/jV3VZ/"} Flat Icons
              On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
            %ul.list-inline.item-details
              %li
                Client:
                %strong
                  %a{:href => "http://startbootstrap.com"} Start Bootstrap
              %li
                Date:
                %strong
                  %a{:href => "http://startbootstrap.com"} April 2014
              %li
                Service:
                %strong
                  %a{:href => "http://startbootstrap.com"} Web Development
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Close
#portfolioModal6.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h2 Project Title
            %hr.star-primary/
            %img.img-responsive.img-centered{:alt => "", :src => "img/portfolio/submarine.png"}/
            %p
              Use this area of the page to describe your project. The icon above is part of a free icon set by
              = succeed "." do
                %a{:href => "https://sellfy.com/p/8Q9P/jV3VZ/"} Flat Icons
              On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
            %ul.list-inline.item-details
              %li
                Client:
                %strong
                  %a{:href => "http://startbootstrap.com"} Start Bootstrap
              %li
                Date:
                %strong
                  %a{:href => "http://startbootstrap.com"} April 2014
              %li
                Service:
                %strong
                  %a{:href => "http://startbootstrap.com"} Web Development
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Close
